h1{
    text-align:center;
    
}

.p1{
   display:flex;
   justify-content:space-between;
   align-items:center;
}

body{
  background-image:url("https://lh3.googleusercontent.com/2ovmlKNj9yIn4f0rhLMP_is5-IX7mZemCQdJ6N4weeOBJu4KTGEU3Nhf9arvzBzTU4eEe1zRQI6m6H5OYO4QfVhqJ8m4huBm_gu_iuDqu8lQgWWdhvW54VK4NDpYUsrZ-duOeAv8IQ=w2400 ");

}

.dad{
    display:flex;
    justify-content:space-between;
}
.song{ 
    display:flex;
    justify-content:space-between;
} 
.artist{
    display:flex;
    justify-content:space-between;
}
.slength{
    display:flex;
    justify-content:space-between;
}
.iurl{
    display:flex;
    justify-content:space-between;
}
.sladdress{
    display:flex;
    justify-content:space-between;
}

img{
 width:300px;
 height:200px;
}


    

